.container { 
    grid-area: content;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: auto .1fr;
    grid-template-areas: 
    'navigation'
    'footer';
}