.container { 
    grid-area: content;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: auto .1fr;
    grid-template-areas: 
    'navigation'
    'footer';
    /* border-top: .2em solid #393633; */
    border-top: .2em solid #f3ab76;
}